      

	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="/"><img src="./assets/img/logo-light.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>* Created in July 2019 we welcome you to our T-Shirt store. We are glad of having your visit and hope you come back soon.</p>
                    	<p>* ODACT is here to give you what you deserve!</p>
                		<p>* Quality-Comfort</p>
                   		<p>* Affordable prices ! !</p>
						<img src="./assets/img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Bloggers</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="./assets/img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="./assets/img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>OneDayAllComeTrue LLC </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>Miami Lakes, Florida, USA </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>561 819 2098 </p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>onedayallcometrue@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="https://www.instagram.com/onedayallcometrue/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="/error" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="/error" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="https://www.facebook.com/One-Day-All-Come-True-2316990125210083/" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="/error" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="https://www.youtube.com/channel/UC49jlGGv8PH5Yx2Cj2PjJ_Q" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="/error" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="./assets/js/jquery-3.2.1.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<script src="./assets/js/jquery.slicknav.min.js"></script>
	<script src="./assets/js/owl.carousel.min.js"></script>
	<script src="./assets/js/jquery.nicescroll.min.js"></script>
	<script src="./assets/js/jquery.zoom.min.js"></script>
	<script src="./assets/js/jquery-ui.min.js"></script>
	<script src="./assets/js/main.js"></script>

	</body>
</html>
